## Exercício

Utilize o dataset de Insurance com as categorias criadas abaixo, faça o treinamento do K vizinhos para as classes escolhidas usando os Scalers que acabamos de conhecer e compare a performance.

### Passo a passo

1 - Escolha um Scaler e faça o instanciamento

2 - Faça o fit transform dos dados de treino e o transform dos dados de teste

3 - Faça o fit com os dados escalados, e o target não escalado

4 - Gere a predição com os dados de teste escalados

In [18]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import RobustScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [22]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
le = LabelEncoder()
df["sex"] = le.fit_transform(df["sex"])
df["smoker"] = le.fit_transform(df["smoker"])
df["region"] = le.fit_transform(df["region"])

In [27]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [31]:
# Definindo o target
target = 'charges'

In [32]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(target, axis = 1) , df[target], test_size=0.2, random_state=42)

In [33]:
# 1 - Escolha um Scaler e faça o instanciamento
rs = RobustScaler()

#2 - Faça o fit transform dos dados de treino e o transform dos dados de teste
    # (transform apenas nos dados não categóricos)
X_train_rs = rs.fit_transform(X_train)
X_test_rs = rs.transform(X_test)

In [35]:
# 3 - Faça o fit com os dados escalados, e o target não escalado
knn_reg = KNeighborsRegressor(n_neighbors=7, metric='minkowski')

knn_reg.fit(X_train_rs, y_train)

# 4 - Gere a predição com os dados de teste escalados
y_pred = knn_reg.predict(X_test_rs)

In [36]:
# 5 - Analise as metricas 
print(f"MAE: {mean_absolute_error(y_test, y_pred)} \nMSE: {mean_squared_error(y_test, y_pred)} \nR2 : {r2_score(y_test, y_pred)}")

MAE: 3612.270857363006
MSE: 36724282.96334756
R2 : 0.7634487405438571